body {
    display: flex;
    justify-content: center;    /* centra horizontalmente */
    align-items: center;        /* centra verticalmente */
    min-height: 100vh;          /* ocupa toda la altura de la ventana */
    margin: 0;                  /* elimina márgenes por defecto */
    background-image: url('../img/imagenFondoLogin.jpg');  /* opcional: color de fondo */
    background-repeat: no-repeat;      /* no repetir */
    background-size: cover;
}
form{
    width: 50%;          /* antes: 500px -> ahora 50% del contenedor */
    max-width: 500px;    /* opcional: no superar 500px en pantallas grandes */
    height: 60vh;        /* altura relativa (60% de la altura de la ventana) */
    max-height: 500px; 
    background-color: #f1f1f1;
    margin: auto;
    border-radius: 14px;
    box-shadow: 5px 10px 18px #888888;
    padding: 20px;
    
}

form img{
    margin-top: 20px;
    margin-bottom: 20px;
}

form div{
        display: block;
        margin: auto;
        text-align: left;
        padding: 0%;
    
    }


form input{
    display: block;
    margin: auto;
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: #888888 1px solid;
    background-color: #cfcfcf;
}

form label {
    /* 1. La clave: Convierte el elemento en bloque */
    display: block; 
    width: 90%;
    /* 2. Opcional: Añade un poco de espacio debajo del texto de la etiqueta para separarlo del campo */
    margin: auto;
    margin-top: 20px;
    
    /* 3. Asegura la alineación horizontal izquierda */
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

#submit{
    width: 90%;
    background-color: rgb(87, 158, 90);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: #888888 2px 2px 5px;

}

.error-message {
    color: red;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}