  /* Estilo para que toda la tarjeta sea clickable y muestre puntero */
            .producto-card {
                cursor: pointer; 
                transition: transform 0.2s, box-shadow 0.2s;
            }
            .producto-card:hover {
                transform: translateY(-5px); /* Pequeño efecto hover */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
            }
            .container{
                padding: 20px;
            }

#titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}