 :root{
    --color--primary:#021b11;
    --color--details:#1f1f1f;
    --color--actions:#579e5a;
    --color--inform:#e6e6e6;
    --color--backdrop:#173419;
    --light--shawdow:#888888;
    --dark--shadow:#000000e2;
    --darkest-shadow:#ffffff;
    --error:#ff0000;
    --color-secondary:#4c845f;
    --color-user-space:#cfcfcf;
    --text-light:#ffffff;
    --text-dark:#000000;
    --color-animacion: #ffffffb0;
 }


html {
    /* Ocupa el 100% de la altura de la ventana */
    height: 100%; 
}
/***********ESTILOS DEL LOGIN**************/
#bodyLogin {
    display: flex; /**habilita el modo flexible necesario si queremos responsive**/
    justify-content: center;    /* centra horizontalmente */
    align-items: center;        /* centra verticalmente */
    min-height: 100vh;          /* ocupa toda la altura de la ventana */
    margin: 0;                  /* elimina márgenes por defecto */
    background-image: url('../img/imagenFondoLogin.jpg');  
    background-repeat: no-repeat;      /* no repetir */
    background-size: cover;/****para que la imagen cubra todo el contenedor**/
}


.formLogin{
    width: 50%;         
    max-width: 500px;    /* para  no superar 500px en pantallas grandes */
    background-color:var(--color--details);
    margin: auto;
    border-radius: 14px;
    box-shadow: 5px 10px 18px var(--light--shawdow);
    padding: 20px;
    height: max-content;       /* para que se adapte a los hijos cuando se añadan los mensajes de error */
    overflow: hidden;
    
}
.logo {
  max-width: 100%;
  height: auto;
  display: block;/**asi ocupa todo el espacio y además salto de linea**/
  margin: 20px auto;
}
.formLogin div{
        display: block;
        margin: auto;
        text-align: left;
        padding: 0%;
    
    }


.formLogin input{
    display: block;
    margin: auto;
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border:var(--light--shawdow) 1px solid;
    background-color: var(--color-user-space);
}

.formLogin label {
    display: block; /* Convierte el elemento en bloque para que este uno debajo del otro (salto de linea y ocupa todo el espacio)*/
    width: 90%;
    margin: auto;
    margin-top: 20px;
    color: var(--text-light);
    text-align: left;/*Asegura la alineación horizontal izquierda */
    text-transform: uppercase;
    font-weight: bold;
}
/****boton de iniciar sesion******/
#submit{
    width: 90%;
    background-color: var(--color--actions);
    color: var(--text-light);
    font-weight: bold;
    cursor: pointer;/***para que nos ponga en vez de una flecha una manita***/
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    box-shadow:var(--light--shawdow) 2px 2px 5px;

}

/*******los mensajes de error de login, los demás seran con clases de bootstrap**********/
.error-message {
    color: var(--error);
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}
 
 
/*************ESTILOS CATALOGO Y PRODUCTOS Y DETALLE DE PRODUCTO************/ 
 
/**************CATEGORIAS***********************/

/*******contenedores principales en ambos productos y categorias y carrito**********/
.body{
/* Ocupa el 100% de la altura del HTML */
    min-height: 100%; 
    background-color: var(--color--backdrop);
    display: flex;  /*Activa Flexbox */
    flex-direction: column;  /*Organiza verticalmente */
    color: var(--text-light);
    margin: 0; /* Elimina márgenes por defecto */
    flex-grow: 1;
}

 /* Estilo para que toda la tarjeta sea clickable y muestre puntero (para  categoria.php y productos.php)*/
            .producto-card {
                cursor: pointer; 
                transition: transform 0.2s, box-shadow 0.2s;
            }
            .producto-card:hover {
                transform: translateY(-5px); /* Pequeño efecto hover */
                box-shadow: 0 4px 8px var(--color-animacion) !important; /*el important es cuando queremos sobreescribrir bootstrap*/
            }



            .container{
                padding: 20px;
                color: black;
            }
/*el titulo de la pantalla de categorias*/
#titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-light);

}

/***********ESTILOS DE PRODUCTOS.PHP***************/


/******La cabecera de informacion de la categoria a la que coresponden todos los productos**********/
#datosCategoria h1, p{
color: var(--text-light);
}



/********ESTILOS DE DETALLE_PRODUCTO***********/

/**el contenedor de la imagen que incluye sus textos
 para cambiarlos de una a claro junto con todos sus datos de descripcion , nombre etc*/
#contenedorBloqueDatos{
color: var(--text-light);
flex-grow: 1;/* Hace que el contenido crezca para ocupar todo el espacio extra */
}

/*las imagenes de detalle_producto*/
#productoEspecificoImagen{
    background-color: #ffffff;
    box-shadow: 0 4px 8px var(--dark--shadow);
}

#botonRetrocesoDeDetalleProducto{
    border-color: #FFFFFF !important; 
    color: #FFFFFF !important; 
    /* Asegurar que el fondo sea transparente por defecto */
    background-color: transparent !important; 
}

#botonRetrocesoDeDetalleProducto:hover {
    /* El estilo outline de Bootstrap cambia el fondo a un color sólido al hacer hover. */
    /* Aquí lo ponemos blanco sólido para mantener el contraste. */
    background-color: #FFFFFF !important; 
    /* El texto debe volverse oscuro para que contraste con el fondo blanco */
    color: #212529 !important; 
    /* Mantenemos el borde blanco */
    border-color: #FFFFFF !important;
}

/**el texto de stock del producto*/
#unidadesStock{
    color: #FFFF00 !important;
}

/***************ESTILOS CARRITO***********************************************/

/***contenido principal de carrito***/
.contenido-principal {
    /* Hace que el contenido crezca para ocupar todo el espacio extra */
    flex-grow: 1; 
}



/***************ESTILOS CABECERA*******************/
#cabeceraNavegacion{
    display: flex;
    /* Separa la imagen/logo (si lo hubiera) del contenedor #acciones */
    justify-content: space-between; 
    /* Alinea verticalmente los elementos principales */
    align-items: center; 
    background-color: var(--color--primary);
    /* min-height para manejo el minimo cuando se vaya reduciendo la imagen por la responsividad */
    min-height: 60px; 
    height: 80px;
    border: 1px solid var(--color--details);
    padding-top:20px;
    padding-bottom:20px;
}

#logoCabecera {
    padding-left:1.5vw;
}

/* Contenedor principal de la derecha con todos los botones de accion*/
#acciones{
    display: flex;
     margin-left: auto;
    /* Controla la distancia entre #enlacesNav y #datosUsuario */
    /* Permite que los elementos hijos se estiren a la altura de #acciones */
    height: max-content;/* para que se adapte a la altura de los hijos */
    height: 100%;/**para que sea la misma que el padre***/
} 

/* Contenedor de los enlaces */
#enlacesNav {
    display: flex;
    /* Espacio entre los enlaces individuales */
    gap: 15px;
    /* Alinea los textos de los enlaces verticalmente */
    align-items: center;
    padding: 5%;

}

/* Elemento de los datos del usuario */
#datosUsuario{
    display: flex;
    background-color:var(--color--primary);
    padding: 0 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}


/********los "BOTONES" con iconos*********/
.contenedorIcono{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color--actions);
   width: 40px; 
    height: 40px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    
    /* Añadir animación suave de subida y sombra con su duracion para que luego vuelva a su estado normal*/
    transition: transform 0.2s, box-shadow 0.2s; 
    cursor: pointer; /* cambia el cursor a una mano */
}

.contenedorIcono:hover {
  transform: translateY(-4px) !important; /*mueve el elemento hacia arriba y hacemos lo del important por si acaso bootstrap hace de las suyas*/
    
    /* Aumenta mucho más la sombra para el efecto de "flotación" */
    box-shadow: 0 10px 20px black;
}


/*******los enlaces que actuan como botones************/
.contenedorIcono a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/******la iconografia******/
.contenedorIcono img{
    width: 24px;
    height: 24px;
    /* Asegura que la imagen no se estire */
    object-fit: contain;
    
}


/*Media quearies basicamente estos solo se aplican cuando la pantalla es más pequeña, asi controlamos que sea responsive la cabecera*/
@media (max-width: 768px) {
    /* Reduce el tamaño del texto de usuario */
    #datosUsuario {
        /* Reduce el tamaño del texto para que ocupe menos píxeles */
        font-size: 0.8em; 
        
        /* Reducir el padding horizontal a lo mínimo  */
        padding: 0 5px; 
        
        /* MUY IMPORTANTE: para que salte de linea*/
        white-space: wrap; 
       
        /* Permite que el contenedor del nombre se encoja agresivamente */
        flex-shrink: 2; 
    }

    .contenedorIcono img {
        width: 20px; 
        height: 20px;
    }
    
    /*Reducimos el padding de la cabecera general */
    #cabeceraNavegacion {
        padding: 15px 1vw; /* Reducir el padding de 1.5vw a 1vw */
        min-height: 50px; /* Reducir la altura mínima */
    }
    
    /* Reducimos el gap*/
    #enlacesNav {
        gap: 7px; /* Reducir el espacio entre botones (de 5px a 3px) */
    }
    
    /*Reducimos el logo en media query */
    #cabeceraNavegacion > img {
        padding-left: 10px;
        margin-right:0px;
        width: 200px; /* Reducir el ancho del logo en pantallas pequeñas */
        height: auto;
    }
    
    /*Hacemos a los iconos sean lo más pequeños posible */
     .contenedorIcono {
         width: 32px; /* 32px en lugar de 35px */
         height: 32px;
     }

}

/******************ESTILOS LOGOUT******************************/

.mi-fondo {
    background-color: var(--color--backdrop);
}

/*contenedor principal del mensaje*/
#contenedorDespedida{
max-width: 500px; /* Tamaño máximo deseado para la caja */
    width: 90%; /* Ocupa el 90% del ancho del padre hasta 500px */
    
    /* Aumenta el padding para hacer la caja más GRANDE */
    padding: 40px; 
    
    /* Fondo y Sombra */
    background-color: var(--color--inform); /* Color de fondo claro, para contraste */
    border-radius: 10px; /* Hacemos el radio más sutil */
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);/* Sombra más pronunciada */
    
    /* Centra el texto y enlaces dentro de la caja */
    text-align: center;
}
    /***el propio mensaje****/
    #contenedorDespedida p {
    color: var(--text-dark);
    font-size: 1.2em; /* Hace el mensaje un poco más grande */
    margin-bottom: 20px;
}


/***contenedor del boton de "despedida" ***/
#AccionDespedia {
   /* Quitamos width y height en 100% para que se ajuste al contenido */
    display: inline-block; /* Permite controlar el ancho y la forma, y los margenes verticales pero tambien poner otro
     elemento a su lado */
    background-color: var(--color--actions);
    padding: 10px 25px; /* Añade relleno para que el botón sea grande */
    border-radius: 999px; 
    
    /* Sombra opcional para darle un poco de relieve */
    box-shadow: 0 2px 4px var(--darkest-shadow);
}

/***el propio enlace de despedida*****/
#AccionDespedia a {
    text-decoration: none;
    color: var(--text-light); /* Cambié a blanco para que contraste con el fondo verde */
    font-weight: bold;
    display: block; /* Hace que el enlace ocupe todo el espacio del contenedor */
}

/*******************ESTILOS DE FOOTER**************/
footer {
    background-color: var(--color-secondary); /* Color oscuro */
    font-size: 0.9em;
}

/* Estilo para los enlaces de Bootstrap */
footer a {
    text-decoration: none;
    transition: color 0.3s;/**transicion para el color***/
    color: var(--text-dark);
}

/**********los encabezados encima de los enlaces***********/
footer p{
    color: var(--text-dark);
}


footer a:hover {
   color: rgb(255, 255, 255) !important; /* Resalta el enlace al pasar el ratón */
}



